.dropdownMultiple {
  position: relative;
  font-size: var(--font-medium);
}

.name {
  display: flex;
  align-items: center;
  gap: var(--dist-xlarge);
  padding: var(--dist-large);
  background-color: var(--grey-very-light);
  border-bottom: 1px solid var(--grey);
  text-wrap: nowrap;
}

.dropdownMultipleContent {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}

.dropdownMultipleContentItem {
  padding: var(--dist-large);
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownMultipleContentItem:hover {
  background-color: var(--grey-very-light);
}

.dropdownMultiple:hover .dropdownMultipleContent {
  display: block;
}

.checkbox {
  margin-right: var(--dist-large);
  accent-color: var(--purple);
}