.container {
  display: flex;
  align-items: center;
  /* gap: var(--dist-xlarge); */
  background-color: var(--grey-very-light);
  border-bottom: 1px solid var(--grey);
  width: 100%;
}


.input {
  width: 100%;
  font-size: var(--font-medium);
  background-color: transparent;
  border: 0;
  padding: var(--dist-large);
  flex: 1;
}

.input::placeholder {
  color: #A8A8A8;
}


.iconLeft {
  /* margin: var(--dist-large) 0; */
  padding: 0 var(--dist-xlarge);
  /* padding-right: 0; */
}

.iconRight {
  margin: var(--dist-large) 0;
  padding: 0 var(--dist-xlarge);
  border-left: 1px solid var(--grey);
  display: flex;
  align-items: center;
}